@media(max-width:780px){
    .sidebar{
        display: none;
    }
    

    .contents{
        width: 100%;
    }

    .about-contents{
        display: block;
        margin: 0 auto;
    }

    .textarea{
        width: 100%;
        padding-left: 10px;
    }

    .company-wrapper{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 200px;
    }

    .company-contents{
        display: block;
        margin: 0 auto;
    }

    .address{
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .ggmap{
        width: 100%;
        height: 300%;
        position: relative;
        padding-bottom: 25%;
    }

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300%;
    }

    .project-wrapper{
        width: 100%;
    }

    .project-item{
        width: 100%;
    }

    .contact-wrapper{
        width: 100%;
    }

}


@media(min-width:780px){
    header{
        display: none;
    }

}
